
/*ACÁ EMPIEZA EL HEADER*/

body {
	margin: 0;
}
.header {
	background: black;
	position: fixed;
	z-index: 1;
	width: 100%;
}

.list-header li a {
	color: white;
	text-decoration: none;
}

.logo-img {
	width: 150px;
	height: 31px;
	margin: 15px 20px;
}

.list-header {
	width: 100%;
	display: flex;
	align-content: space-around;
	margin-left: 60%;
}

.list-header li {
	text-decoration: none;
	list-style: none;
	margin: 10px 30px 10px 30px;
	font-size: 16px;
	font-family: sans-serif;
}

.header-container {
	display: flex;
}
 
li a:hover {
    color: white;
    text-decoration: underline ;
}

/*  HOME */

.container-arrow {
	width: 100%;
	margin: auto;
}

.arrow {
	position: relative;
	width: 60px;
	height: 60px;
	margin: auto;
	margin-left: 48%;
	margin-top: 10px;
}

.img-portada {
	width: 100%;
	height: 665px;
	position: absolute;
}

.text-home {
	margin: auto;
	position: relative;
	color: white;
	font-family: 'lato','sans-serif';
	font-size: 70px;
	text-align: center;
	padding: 60px;
	font-weight: inherit;
	font-weight: bold;
	padding-top: 120px;
}

.boton-1 {
    position: relative;
    padding: 13px;
    border: none;
    background-color: red;
    cursor: pointer;
    outline: none;
    font-size: 17px;
    margin: auto;
    color: white;
    text-align: center;
    margin-left: 44%;
}

.boton-1 {
  	background: black;
}

.boton-1:hover {
	background: white;
	transition: 2s;
}

.boton-1:hover {
	color: black;
	transition: 2s;
}

/* ACERCA DE MI */ 


.acerca {
	background-image: url("../web-portafolio/img/hipsta2.jpg");
	width: 100%;
	height: 380px;
	margin-top: 60px;
}

.bruno-img {
	width: auto;
	height: 502px;
	margin-top: 52px;
	margin-left: 140px;
}

.container-acerca {
	display: flex;
}

.container-text-acerca {
	background: black;
	width: 364px;
	height: 236px;
	margin: auto;
	margin-top: 185px;
	padding: 10px;
	margin-left: 85px;
}

.parraf-text-acerca {
	color: white;
	text-align: center;
	margin: 0 auto;
	margin-top: 22%;
	font-family: 'lato','sans-serif';
	font-weight: inherit;
	font-size: 15px;
}

.yo-text {
	font-weight: bold;
	font-size: 23px;
}

/* NUESTROS SERVICIOS */

.img-icon:hover {
	transition: .5s;
    transform: scale(1.5);
}


.servicios {
	margin: auto;
	display: table;
	background: black;
	width: 100%;
	height: 300px;
	margin-top: 10%;
}

.servicios-text {
	position: relative;
	color: white;
	float: left;
	margin-left: 500px;
	font-family: 'lato','sans-serif';
	font-weight: inherit;
	font-size: 35px;
	font-weight: bold;
	width: 60%;

}

.servicios-text span {
	position: absolute;
	width: 0;
	right: 0;
	background: black;
	border-left: 1px solid white;
	animation: maquina 2s infinite alternate steps(19);
}

@keyframes  maquina {
	from {
		width: 100%;
	}
	to {
		width: 53%;
	}
}

.container-icons {
	padding: 30px;
	display: flex;
	justify-content: space-around;
}

.text-icon {
	color: white;
	text-align: center;
	font-family: 'lato','sans-serif';
	font-weight: inherit;
}

.img-icon {
	margin-left: 18px;
}

/*PARALLAX*/

.parallax {
	width: 100%;
	height: 300px;
	margin: 0;
	padding: 0;
	background: #fff fixed no-repeat 50% 50%;
	background-size: cover;
}

#section1 {
	background-image: url("../web-portafolio/img/mac.jpg");
}

.parallax-text {
	color: white;
	margin: auto;
	font-size: 90px;
	width: 100%;
	text-align: center;
	font-family: 'lato','sans-serif';
	font-weight: inherit;
	font-weight: lighter;
}



/*PORTAFOLIO*/

.cont-gallery {
	
	display: flex;
	padding: 20px;
}

.gallery-img {
	width: 202px;
	height: 165px;
	background: blue;
	margin: 15px auto ;

}


.photo-section2 {
	width: 100%;
	height: 165px;
}

.photo-section2:hover {
	    transition: .5s;
    transform: scale(1.5);
}

.portafolio {
	margin: auto;
	display: table;
	background: white;
	width: 100%;
	height: 300px;
	margin-top: 1%;
}
.portafolio-text {
	position: relative;
	color: black;
	float: left;
	margin-left: 500px;
	font-family: 'lato','sans-serif';
	font-weight: inherit;
	font-size: 35px;
	font-weight: bold;
	width: 60%;

}

.portafolio-text span {
	position: absolute;
	width: 0;
	right: 0;
	background: white;
	border-left: 1px solid black;
	animation: maquina 2s infinite alternate steps(19);
}